#app__header {
    --component-padding: 8px;

    display: flex;
    align-items: center;
    height: 48px;

    .filename__container {
        font-size: 1.25rem;
        line-height: 2rem;
        padding-left: 16px;
    }

    .window-drag {
        flex: 1;
        height: 100%;
        -webkit-app-region: drag;
    }
}