@use "./base.scss";

#app__header {
    --component-padding: 8px;

    display: flex;
    align-items: center;
    height: 48px;

    .filename__container {
        padding: var(--component-padding);
    }

    .window-drag {
        flex: 1;
        height: 100%;
        -webkit-app-region: drag;
    }
}