#app__sidebar {
    --sidebar-shrink-width: 48px;
    --sidebar-expand-width: 256px;
    --component-padding: 8px;
    --icon-size: 24px;

    //width: var(--sidebar-shrink-width);
    width: calc(var(--sidebar-shrink-width) + var(--sidebar-expand-width) + 2px);
    height: 100%;
    display: flex;
    background-color: var(--ui-background-components);
    box-shadow: 2px 0 3px 0 var(--ui-color-shadow);
    border-radius: 0 24px 24px 0;

    #logo {
        --icon-size: 32px;

        width: var(--icon-size);
        height: var(--icon-size);

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
        }
    }

    .sidebar__control {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: var(--component-padding);

        .window-drag {
            flex: 1;
            width: 100%;
            -webkit-app-region: drag;
        }

        .tw-tooltips {
            --tooltips-distance: 20px;
        }

        .tw-button {
            --button-padding: 4px;

            &[data-change-color="true"] {
                color: var(--ui-color-accent);
            }
        }
    }

    > .tw-divide {
        min-width: var(--tw-divide-depth);
    }

    .sidebar__content {
        --content-offset-magnification: 0;

        display: flex;
        overflow: hidden;

        > div {
            min-width: var(--sidebar-expand-width);
        }

        .file-management {
            margin-left: calc(-1 * var(--content-offset-magnification) * var(--sidebar-expand-width));
            transition: margin-left var(--ui-animation-delay) var(--ui-animation-cubicBezier-easeInOut);
        }
    }
}