.window-operation {
    --svg-size: 16px;

    display: flex;
    gap: 8px;
    padding: var(--component-padding);

    svg {
        width: var(--svg-size);
        height: var(--svg-size);
    }

    .tw-button {
        color: var(--icon-color-unselected);
    }

    .window-operation__close {
        --button-color-hover: var(--ui-color-error);
        --button-background-hover-fill: var(--ui-color-error);
    }
}