.mde-folder {
    --mde-folder-spacing: 4px;
    --mde-folder-twigs-spacing: 4px;
    --mde-folder-retraction: 16px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--mde-folder-spacing);

    &__file-list {
        display: flex;
        flex-direction: column;
        gap: var(--mde-folder-spacing);

        margin-left: calc(var(--mde-folder-retraction) + var(--size-svg-normal) + var(--mde-folder-twigs-spacing));
    }

    > .mde-button {
        --mde-button-color: var(--ui-color-text-primary);
        --mde-button-hover-color: var(--ui-color-background-folder);
        --mde-button-hover-amplitude: 1.02;
        --mde-button-active-amplitude: 0.99;

        .mde-button__text {
            white-space: nowrap;
        }

        &:hover {
            --mde-button-background: var(--ui-color-background-folder);
        }
    }

    .twig {
        width: var(--size-svg-normal);
        height: var(--size-svg-normal);
        color: var(--ui-color-twigs);

        position: absolute;
        top: 0;
        right: calc(100% + var(--mde-folder-twigs-spacing));
    }

    &:has(+&, +.mde-file) {
        > .trunk {
            display: block;
        }
    }

    .trunk {
        display: none;

        position: absolute;
        top: var(--mde-explorer-tweaks-trunk-top);
        right: calc(100% + var(--size-svg-normal) + var(--mde-folder-twigs-spacing) - var(--mde-explorer-tweaks-trunk-right));
        width: var(--mde-explorer-tweaks-trunk-width);
        background: var(--ui-color-twigs);
        height: calc(100% + var(--mde-folder-spacing));
        border-radius: calc(var(--mde-explorer-tweaks-trunk-width) / 2);
    }
}