:root {
  --ui-opacity-background: 0.12;
  --ui-background-page: #F3F6FD;
  --ui-background-components: #FFFFFF;
  --ui-background-interactions: #EBEEF5;
  --ui-color-accent: #4091FF;
  --ui-color-info: #0099FF;
  --ui-color-success: #67C23A;
  --ui-color-error: #F56C6C;
  --ui-color-warning: #FFD416;
  --ui-color-divide: rgba(#DCDFE6, 0.25);
  --ui-color-text-primary: #303133;
  --ui-color-text-regular: #606266;
  --ui-color-text-secondary: #909399;
  --ui-color-text-placeholder: #C0C4CC;
  --editor-color-text-h1: #303133;
  --editor-color-text-h2: #606266;
  --editor-color-text-h3: #909399;
  --editor-color-text-h4-6: #B5B9BD;
  --icon-color-unselected: #909399;
  --icon-color-selected: var(--ui-color-accent);
  --icon-color-tree-line: #EBEEF5;
  --tree-color-folder: $folder-color;
  --tree-background-folder: rgba($folder-color, var(--ui-opacity-background));
  --tree-color-file: $file-color;
  --tree-background-file: rgba($file-color, var(--ui-opacity-background));
  --ui-animation-delay: 0.2s;
  --ui-animation-cubicBezier-easeInOut: cubic-bezier(0.65, 0.05, 0.36, 1);
  --ui-animation-cubicBezier-onBack: cubic-bezier(0.39, 0.85, 0.32, 1.28);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  background-color: var(--ui-background-page);
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tw-button {
  --button-padding: 8px;
  --button-radius: 16px;
  --button-color-hover: var(--ui-color-accent);
  --button-background-fill: var(--ui-background-interactions);
  --button-opacity-fill: 1.00;
  --button-background-hover-fill: var(--ui-color-accent);
  --button-opacity-hover-fill: 0.18;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  transition: background-color var(--ui-animation-delay) var(--ui-animation-cubicBezier-easeInOut), color var(--ui-animation-delay) var(--ui-animation-cubicBezier-easeInOut), transform var(--ui-animation-delay) var(--ui-animation-cubicBezier-onBack);
}
.tw-button:hover {
  color: var(--button-color-hover);
}
.tw-button[data-transition=true]:hover {
  transform: scale(1.05);
}
.tw-button[data-transition=true]:active {
  transform: scale(0.95);
}
.tw-button[data-background=transparent], .tw-button[data-background=fill], .tw-button[data-background=hover-fill] {
  background-color: transparent;
}
.tw-button[data-background=fill], .tw-button[data-background=hover-fill] {
  position: relative;
}
.tw-button[data-background=fill]::after, .tw-button[data-background=hover-fill]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--button-radius);
}
.tw-button[data-background=fill][data-transition=true]::after, .tw-button[data-background=hover-fill][data-transition=true]::after {
  transform: scale(0);
  transition: transform var(--ui-animation-delay) var(--ui-animation-cubicBezier-onBack);
}
.tw-button[data-background=fill][data-transition=true]:hover::after, .tw-button[data-background=hover-fill][data-transition=true]:hover::after {
  transform: scale(1);
}
.tw-button[data-background=fill]::after {
  background-color: var(--button-background-fill);
  opacity: var(--button-opacity-fill);
}
.tw-button[data-background=hover-fill] {
  background-color: transparent;
}
.tw-button[data-background=hover-fill]::after, .tw-button[data-background=hover-fill][data-transition=true]::after {
  background-color: var(--button-background-hover-fill);
  opacity: var(--button-opacity-hover-fill);
}

/*# sourceMappingURL=TwButton.css.map */
